<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>支付系列</title>
    <meta charset="UTF-8" />
    <div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-head"></div>
</head>
<body>
<div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-content(action='extended_function_manage',sub_action='pay')"></div>
<!--main-container-part-->
<div id="content">

    <div class="container-fluid">
        <!--<div th:replace="../templates/frontdesk/body/extendedFunctionManagement/bars :: bar(action='null')"></div>-->
        <div class="row-fluid"></div>
    </div>
    <hr/>

    <div>
        <p style="text-align: center;font-size:25px;color:red;margin-top:300px;margin-bottom: 500px;font-family:  Helvetica,'Helvetica Neue', Arial, sans-serif">
            <i class="icon-spinner icon-spin"></i>
            正在开发中......
        </p>
    </div>

</div>
</div>
<div th:replace="../templates/frontdesk/body/footer :: footer"></div>
</body>
</html>