<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="navigation-bars-head">
        <link rel="stylesheet" th:href="@{/private/frontdesk/body/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/private/frontdesk/body/css/matrix-style.css}" />
        <link rel="stylesheet" th:href="@{/private/frontdesk/body/css/matrix-media.css}" />
        <link th:href="@{/private/frontdesk/body/font-awesome/css/font-awesome.css}" rel="stylesheet" />
        <script th:src="@{/private/frontdesk/body/js/jquery.min.js}"></script>
        <script th:src="@{/private/frontdesk/body/js/matrix.js}"></script>
        <link th:href="@{/common/uiAlertView/css/uiAlertView-1.0.0.css}" rel="stylesheet" />
        <script th:src="@{/common/uiAlertView/js/jquery.uiAlertView-1.0.0.js}"></script>
        <script th:inline="javascript" type="text/javascript">

            //禁止滚动条滚动
            function unScroll() {
                var top = $(document).scrollTop();
                $(document).on('scroll.unable',function (e) {
                    $(document).scrollTop(top);
                })
            }

            //移除禁止滚动条滚动
            function removeUnScroll() {
                $(document).unbind("scroll.unable");
            }


            //判断字符是否为空的方法
            function isEmpty(obj){
                if(typeof obj == "undefined" || obj == null || obj == ""){
                    return true;
                }else{
                    return false;
                }
            }
            /**
             * 提示信息
             *
             */
            function hint(msg){
                var json = {
                    title:"<span style='color: red;font-size: 22px;'>警告!</span>",
                    msg:"<span style='color: #73680a;font-size: 18px;'>输入信息为空！--></span>"+"《"+msg+"》",
                    buttons:[
                        { title:"取消",click:function(){
                        }
                        }
                    ]
                }
                $.alertView(json);
            }
        </script>
    </th:block>
</head>

<body>

<div th:fragment="navigation-bars-content(action,sub_action)">

<!--Header-part-->
<div id="header">
    <h1><a href="dashboard.html">MatAdmin</a></h1>
</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">

    <ul class="nav">

        <li  class="dropdown" id="profile-messages" >
            <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
                <i class="icon icon-user"></i>
                <span class="text">欢迎 [[${session.userInfo.account}]]</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-user"></i> 我的资料</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-check"></i> 我的任务</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-key"></i> 退出</a></li>
            </ul>
        </li>


        <li class="dropdown" id="menu-messages">
            <a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle">
                <i class="icon icon-envelope"></i>
                <span class="text">消息</span>
                <span class="label label-important">0</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> 新消息</a></li>
                <li class="divider"></li>
                <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> 收件箱</a></li>
                <li class="divider"></li>
                <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> 发件箱</a></li>
                <li class="divider"></li>
                <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> 发送</a></li>
            </ul>
        </li>

        <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">设置</span></a></li>
        <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
    </ul>



</div>
<!--close-top-Header-menu-->



<!--start-top-serch-->
<div id="search">
    <input type="text" placeholder="输入搜索内容..."/>
    <button type="submit" class="tip-bottom" title="Search">
        <i class="icon-search icon-white"></i>
    </button>
</div>
<!--close-top-serch-->



<!--sidebar-menu-->
<div id="sidebar">

    <ul>
        <!-- class="active" -->
        <li th:class="${action=='home'}?'btn-success':'' "><a th:href="@{/body/index}"><i class="icon icon-home"></i> <span>首页</span></a> </li>
        <!-- 业务管理模块 -->
        <!--<li class="submenu  open btn-success">-->
        <li th:class="${action=='busi_manage'}?'submenu  open ':'submenu' "> <a href="#"><i class="icon icon-glass"></i> <span>业务管理</span> </a>
            <ul>
                <li th:class=" ${sub_action=='photo_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/photograph-management}">照片管理</a></li>
                <li th:class=" ${sub_action=='liscense_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/license-management}">证照管理</a></li>
                <li th:class=" ${sub_action=='visa_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/visa-management}">签证管理</a></li>
                <li th:class=" ${sub_action=='air_ticket_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/air-ticket-management}">机票管理</a></li>
                <li th:class=" ${sub_action=='hotel_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/hotel-management}">酒店管理</a></li>
                <li th:class=" ${sub_action=='indep_travel_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/independent-travel-management}">自由行管理</a></li>
                <li th:class=" ${sub_action=='taiwan_indep_travel_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/taiwan-independent-travel-management}">台湾自由行</a></li>
                <li th:class=" ${sub_action=='tourist_groups_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/tourist-groups-management}">旅游团管理</a></li>
                <li th:class=" ${sub_action=='insurance_agency_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/insurance-agency-management}">保险代理管理</a></li>
                <li th:class=" ${sub_action=='expressage_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/expressage-management}">快递管理</a></li>
                <li th:class=" ${sub_action=='other_manage'?'btn-success':''}"><a th:href="@{/body/busi-manage/other-management}">其他管理</a></li>
            </ul>
        </li>

        <!--  订单管理模块 -->
        <li th:class="${action=='order_manage'}?'submenu  open ':'submenu' "> <a href="#"><i class="icon icon-th-list"></i> <span>订单管理</span> </a>
            <ul>
                <li th:class=" ${sub_action=='demand_order_manage'?'btn-success':''}"><a th:href="@{/body/order-manage/demand-order-management}">需求订单</a></li>
                <li th:class=" ${sub_action=='visa_process_manage'?'btn-success':''}"><a th:href="@{/body/order-manage/visa-process-management}">签证流程</a></li>
                <li th:class=" ${sub_action=='air_ticket_process'?'btn-success':''}"><a th:href="@{/body/order-manage/air-ticket-process-management}">机票流程</a></li>
            </ul>
        </li>


        <!--  调度派送模块 -->
        <li th:class="${action=='dispatch_send'}?'submenu  open ':'submenu' "> <a href="#"><i class="icon  icon-truck"></i> <span>调度派送</span> </a>
            <ul>
                <li th:class=" ${sub_action=='expressage_send_manage'?'btn-success':''}"><a th:href="@{/body/dispatchsendmanagement/expressage-send-management}">快递派送</a></li>
                <li th:class=" ${sub_action=='order_send_manage'?'btn-success':''}"><a th:href="@{/body/dispatchsendmanagement/order-send-management}">订单派送</a></li>
            </ul>
        </li>

        <!--  财务管理 -->
        <li th:class="${action=='finace_manage'}?'btn-success':'' "> <a th:href="@{/body/financemanagement/finance-management}"><i class="icon icon-book"></i> <span>财务管理</span></a> </li>

        <!--  供应商管理 -->
        <li th:class="${action=='supplier_manage'}?'btn-success':'' "> <a th:href="@{/body/suppliermanagement/supplier-management}"><i class="icon  icon-comments-alt"></i> <span>供应商管理</span></a> </li>

        <!--  政策管理 -->
        <li th:class="${action=='policy_manage'}?'btn-success':'' "><a th:href="@{/body/policymanagement/policy-management}"><i class="icon icon-flag"></i> <span>政策管理</span></a></li>

        <!--  客户关系管理模块 -->
        <li th:class="${action=='customer_relations'}?'submenu  open ':'submenu' "> <a href="#"><i class="icon  icon-user-md"></i> <span>客户关系管理</span> </a>
            <ul>
                <li th:class=" ${sub_action=='customer_maintain_manage'?'btn-success':''}"><a th:href="@{/body/customerrelationsmanagement/customer-maintain-management}">客户维护管理</a></li>
                <li th:class=" ${sub_action=='base_info_manage'?'btn-success':''}"><a th:href="@{/body/customerrelationsmanagement/base-info-management}">基本信息维护</a></li>
            </ul>
        </li>

        <!--  报表统计管理-->
        <li th:class="${action=='statistic_statements_manage'}?'btn-success':'' "><a th:href="@{/body/statisticsstatementsmanagement/statistics-statements-management}"><i class="icon icon-list"></i> <span>报表统计管理</span></a></li>
        <!--<li class="submenu  open btn-success">-->
        <!--  系统设置管理模块 -->
        <li th:class="${action=='sys_set'}?'submenu  open ':'submenu' "> <a href="#"><i class="icon icon-cogs"></i> <span>系统设置管理</span> </a>
            <ul>

                <li th:class=" ${sub_action=='inst_fra'?'btn-success':''}"><a th:href="@{/body/systemsettingmanagement/institutional-framework-management}">组织结构</a></li>
                <li th:class=" ${sub_action=='available_resource'?'btn-success':''}  "><a th:href="@{/body/systemsettingmanagement/available-resources-management}">可用资源</a></li>
                <li th:class=" ${sub_action=='auth_manage'?'btn-success':''}  " ><a th:href="@{/body/systemsettingmanagement/authority-management}">权限管理</a></li>
                <li th:class=" ${sub_action=='parameter_setting'?'btn-success':''}  "><a th:href="@{/body/systemsettingmanagement/parameter-setting-management}">参数设置</a></li>
            </ul>
        </li>


        <!--  扩张功能 -->
        <li th:class="${action=='extended_function_manage'}?'submenu  open ':'submenu' ">
            <a href="#"><i class="icon icon-tint "> </i>  <span>扩展功能</span> </a>
            <ul>
                <li th:class=" ${sub_action=='reptile'?'btn-success':''}"><a th:href="@{/reptile/extendedfunctionmangement/reptilemanagement/reptileManage}">爬虫</a></li>
                <li th:class=" ${sub_action=='pay'?'btn-success':''}"><a th:href="@{/pay/extendedfunctionmangement/reptilemanagement/payManage}">支付业务</a></li>
            </ul>
        </li>


        <!--  网站后台管理模块 -->
        <li th:class="${action=='webbase_stage_manage'}?'submenu  open ':'submenu' ">
            <a href="#"><i class="icon icon-cog "> </i>  <span>网站后台管理</span> </a>
            <ul>
                <li th:class=" ${sub_action=='service_manage'?'btn-success':''}"><a th:href="@{/body/webbackstagemanagement/service-management}">客户管理</a></li>
                <li th:class=" ${sub_action=='promotional_info_manage'?'btn-success':''}"><a th:href="@{/body/webbackstagemanagement/promotional-info-management}">促销信息管理</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--sidebar-menu-->

</div>

</body>

</html>