<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yilvtong.first.flightreservation.mapper.frontdesk.UserMapper" >

    <resultMap id="BaseResultMap" type="com.yilvtong.first.flightreservation.entity.frontdesk.Department" >
        <id column="dep_id" property="id" jdbcType="INTEGER" />

        <result column="dep_name" property="depName" jdbcType="VARCHAR" />
        <result column="dep_pricipal" property="depPricipal" jdbcType="VARCHAR" />
        <result column="dep_abbreviation" property="depAbbreviation" jdbcType="VARCHAR" />
        <result column="dep_addr" property="depAddr" jdbcType="VARCHAR" />
        <result column="dep_phone" property="depPhone" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />

        <result column="c_date" property="createDate" jdbcType="DATE" />
        <result column="up_date" property="update" jdbcType="DATE" />
    </resultMap>




    <sql id="Base_Column_List" >
        dep_id, dep_name, dep_pricipal, dep_abbreviation,dep_addr,dep_phone,description,c_date,up_date
    </sql>


    <select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from fr_user
        where u_id = #{userId,jdbcType=INTEGER}
    </select>




    <!-- 这个方法是我自己加的 -->
    <!--<select id="selectAllUser" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--from t_user-->
    <!--</select>-->
    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
    <!--delete from t_user-->
    <!--where user_id = #{userId,jdbcType=INTEGER}-->
    <!--</delete>-->
