<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>报表统计管理</title>
    <meta charset="UTF-8" />
    <div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-head"></div>
</head>
<body>
<div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-content(action='statistic_statements_manage',sub_action='statistic_statements_manage')"></div>
<!--main-container-part-->
<div id="content">

    <hr/>

    <div>
        <p style="text-align: center;font-size:25px;color:red;margin-top:300px;margin-bottom: 500px;font-family:  Helvetica,'Helvetica Neue', Arial, sans-serif">
            <i class="icon-spinner icon-spin"></i>
            正在开发中......
        </p>
    </div>


</div>
</div>
<div th:replace="../templates/frontdesk/body/footer :: footer"></div>
</body>
</html>