<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>组织结构->公司管理</title>
    <meta charset="UTF-8" />
    <!--<link rel="stylesheet" href="/common/font-awesome-4.7.0/css/font-awesome.min.css">-->
    <div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-head"></div>
</head>
<style>
    .table-title{font-size: 16px;font-weight: 900;color: #0e0e0e}

    .MNK_BORDER_BOX{
        overflow:hidden;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        padding:2px;
    }
    .table-tr{background-color:#fffffd}
    .div-input{overflow:hidden;height:100%;}
    .input-style{width: 100%; height: 100%;padding:5px;background-color:#fffffd;}
</style>
<body>
<div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-content (action='sys_set',sub_action='inst_fra')"></div>
<!--main-container-part-->
<div id="content">
    <!--Action boxes-->
    <div class="container-fluid">
        <div th:replace="../templates/frontdesk/body/systemSettingManagement/ifm_navigation-bars :: ifm-navigation-bars(action='company_manage')"></div>
        <div class="row-fluid"></div>
        <hr/>

      <div id="infoShow">
        <div  th:each="company,iterStat : ${companyList}" class="row-fluid">
            <div  class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                        <h5 th:text="${company.companyName}" style="font-size: 18px;padding-right: 20px;"></h5>

                        <div style="font-size: 20px;padding-left: 100px;">
                            <button th:id="mod_+${company.id}" th:attr="mod_id=${company.id}" style="padding-left: 20px;padding-right: 10px;color: #fcfffe;" class="tip btn btn-info btn-mini" title="Edit Task"><i class="icon-pencil"></i>编辑</button>
                            <button th:id="del_+${company.id}" th:attr="del_id=${company.id}" style="padding-left: 30px;padding-right: 10px;color: #fcfffe;" class="tip btn btn-danger btn-mini" title="Delete"><i class="icon-remove">删除</i></button>
                            <button onclick="add_company()" style="padding-left: 30px;padding-right: 10px;color: #fcfffe;" class="tip btn btn-mini btn-primary " title="Delete"><i class=" icon-plus">添加</i></button>
                        </div>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 20%;">NAME</th>
                                <th style="width: 80%;">VALUE</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="odd gradeX">
                                <td class="table-title" style="text-align: center;">公司名称</td>
                                <td th:text="${company.companyName}"></td>
                            </tr>
                            <tr class="even gradeX">
                                <td class="table-title" style="text-align: center;">公司简称</td>
                                <td th:text="${company.companyShareName}"></td>
                            </tr>

                            <tr class="odd gradeX">
                                <td class="table-title" style="text-align: center;">营业执照号</td>
                                <td th:text="${company.businessLicense}"></td>
                            </tr>
                            <tr class="even gradeX">
                                <td class="table-title" style="text-align: center;">公司地址</td>
                                <td th:text="${company.registeredAddress}"></td>
                            </tr>

                            <tr class="odd gradeX">
                                <td class="table-title" style="text-align: center;">公司法人</td>
                                <td th:text="${company.legalRepresentative}"></td>
                            </tr>
                            <tr class="even gradeX">
                                <td class="table-title" style="text-align: center;">法人身份证号</td>
                                <td th:text="${company.legalRepresentativeIdNum}"></td>
                            </tr>

                            <tr class="odd gradeX">
                                <td class="table-title" style="text-align: center;">公司网站</td>
                                <td th:text="${company.webAddr}"></td>
                            </tr>
                            <tr class="even gradeX">
                                <td class="table-title" style="text-align: center;">ICP备案号</td>
                                <td th:text="${company.ipcNum}"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td class="table-title" style="text-align: center;">行业类型</td>
                                <td th:text="${company.industryType}"></td>
                            </tr>
                            <tr class="even gradeX">
                                <td class="table-title" style="text-align: center;">经营范围</td>
                                <td th:text="${company.businessScope}"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td class="table-title" style="text-align: center;">银行账户名</td>
                                <td th:text="${company.bankAccountName}"></td>
                            </tr>
                            <tr class="even gradeX">
                                <td class="table-title" style="text-align: center;">开户银行</td>
                                <td th:text="${company.bankName}"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td class="table-title" style="text-align: center;">银行卡号</td>
                                <td th:text="${company.bankNum}"></td>
                            </tr>
                            <tr class="even gradeX">
                                <td class="table-title" style="text-align: center;">创建时间</td>
                                <td th:text="${company.createDate}"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td class="table-title" style="text-align: center;">更新时间</td>
                                <td th:text="${company.update}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
      </div>
        <div id="modAndAdd"  class="row-fluid " style="display: none;">
            <div  class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                        <h5 style="font-size: 18px;padding-right: 20px;" id="mod-add-title"></h5>

                        <div style="font-size: 20px;padding-left: 200px;">
                            <button onclick="mod_add_cancel()" style="color: #fcfffe;" class="tip btn btn-inverse btn-mini" title="Edit Task"><i class=" icon-repeat"></i>返回</button>
                        </div>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 20%;">NAME</th>
                                <th style="width: 80%;">VALUE</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="table-tr" style="display: none;">
                                <td class="table-title" style="text-align: center;display: none;">id</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="id"  id="id" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>

                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>公司名称</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="companyName"  placeholder="公司名称不空、只能输入中文、符合公司命名规则"  id="companyName" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>公司简称</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="companyShareName" placeholder="简称不空、只能输入中文"  id="companyShareName" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>

                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>营业执照号</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="businessLicense"  placeholder="只能包含字母和数字" id="businessLicense" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>公司地址</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="registeredAddress" placeholder="只能包含中文、字母、数字" id="registeredAddress" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>

                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>公司法人</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="legalRepresentative"  placeholder="名字要符合中国取名规则" id="legalRepresentative" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>法人身份证号</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="legalRepresentativeIdNum" placeholder="只能数字和字母" id="legalRepresentativeIdNum" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>

                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;">公司网站</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="webAddr"  id="webAddr" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;">ICP备案号</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="ipcNum"  id="ipcNum" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>行业类型</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="industryType"  placeholder="只能中文" id="industryType" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>经营范围</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="businessScope" placeholder="只包含中文格式" id="businessScope" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>银行账户名</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="bankAccountName" placeholder="只能包含中文"  id="bankAccountName" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>开户银行</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="bankName" placeholder="只能包含中文"  id="bankName" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-tr">
                                <td class="table-title" style="text-align: center;"><i style="color: red;" class=" icon-bell-alt"></i>银行卡号</td>
                                <td style="height: 100%;">
                                    <div class="div-input">
                                        <input name="bankNum" placeholder="只能输入数字"  id="bankNum" class="MNK_BORDER_BOX input-style">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr/>
            </div>
            <p style="text-align: center;margin-bottom: 500px;">
                <button class="btn btn-primary btn-large"  onclick="mod_add_cancel()">取消</button>
                <button class="btn btn-info btn-large" onclick="mod_add_submit()">提交</button>
            </p>

        </div>

    </div>

</div>
<a style="display: none" th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} "
   id="contextPath"></a>
<div th:replace="../templates/frontdesk/body/footer :: footer"></div>
</body>
<div th:replace="../templates/frontdesk/body/systemSettingManagement/ifm_company_manage_script :: com_manage_script"></div>
<div th:replace="../templates/frontdesk/body/systemSettingManagement/ifm_department_modifyAndAdd_script :: regexp_script"></div>
</html>