<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>组织结构->部门管理</title>
    <meta charset="UTF-8" />
    <!--<link rel="stylesheet" href="/common/font-awesome-4.7.0/css/font-awesome.min.css">-->
    <div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-head"></div>
    <script th:src="@{/private/frontdesk/body/systemSettingManagement/ifm_department_management.js}"></script>
</head>
<body>
<div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-content (action='sys_set',sub_action='inst_fra')"></div>
<!--main-container-part-->
<div id="content">
    <!--Action boxes-->
    <div class="container-fluid">
        <div th:replace="../templates/frontdesk/body/systemSettingManagement/ifm_navigation-bars :: ifm-navigation-bars(action='department_manage')"></div>
        <div class="row-fluid"></div>

        <div id="modify_dep" style="margin-bottom: 200px;">
            <hr/>
            <div class="widget-title add-del-title">
                <h2>修改部门</h2>
            </div>
            <div class="widget-content nopadding">
                <form action="/body/systemsettingmanagement/institutional-framework-management/ifm_department_management/mod"  method="post" class="form-horizontal">
                    <div class="control-group" style="display: none;">
                        <label class="control-label">id :</label>
                        <div class="controls">
                            <input th:value="${department.id}" type="text" class="span11" name="id" id="id_id" />
                        </div>
                    </div>
                    <div class="control-group" style="display: none;">
                        <label class="control-label">所属公司ID :</label>
                        <div class="controls">
                            <input th:value="${department.depCompany}" type="text" class="span11" placeholder="部门名称" name="depCompany" id="depCompany"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">所属公司 :</label>
                        <div class="controls">
                            <input readonly th:value="${department.companyName}" type="text" class="span11" placeholder="部门名称" name="companyName" id="companyName"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">部门名称 :</label>
                        <div class="controls">
                            <input readonly type="text" class="span11" placeholder="部门名称" th:value="${department.depName}"  name="depName" id="name"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">部门负责人 :</label>
                        <div class="controls">
                            <input type="text" class="span11" placeholder="部门负责人" th:value="${department.depPricipal}" name="depPricipal" id="pricipal"/>
                            <span class="help-block"  id="hint_pr"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">部门负责人电话 :</label>
                        <div class="controls">
                            <input type="text" class="span11" placeholder="请输入部门负责人联系电话" th:value="${department.depPhone}" name="depPhone" id="phone"/>
                            <span class="help-block"  id="hint_ph"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">部门简称 :</label>
                        <div class="controls">
                            <input type="text"  class="span11" placeholder="部门简称" th:value="${department.depAbbreviation}" name="depAbbreviation" id="abbreviation" />
                            <span class="help-block"  id="hint_ab"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">部门地址 :</label>
                        <div class="controls">
                            <input type="text" class="span11" placeholder="部门地址" th:value="${department.depAddr}" name="depAddr" id="addr" />
                            <span class="help-block"  id="hint_ad"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">备注 ：</label>
                        <div class="controls">
                            <textarea class="span11"  placeholder="部门描述" th:text="${department.description}" name="description" id="description" ></textarea>
                            <span class="help-block"  id="hint_des"></span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <p id="submitButton" style="text-align: center;">
                            <button  style="font-size: 20px;" type="submit" class=" btn-large btn btn-inverse" id="save">
                                <i class="icon-save"></i>
                                提交
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="../templates/frontdesk/body/footer :: footer"></div>
<a style="display: none;" th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} " id="contextPath"></a>
<div th:replace="../templates/frontdesk/body/systemSettingManagement/ifm_department_modifyAndAdd_script :: verify_script"></div>
<div th:replace="../templates/frontdesk/body/systemSettingManagement/ifm_department_modifyAndAdd_script :: modify_script"></div>
<div th:replace="../templates/frontdesk/body/systemSettingManagement/ifm_department_modifyAndAdd_script :: regexp_script"></div>
</body>

</html>