<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>舱位折扣维护</title>
    <meta charset="UTF-8" />
    <div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-head"></div>
</head>
<body>
<div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-content(action='busi_manage',sub_action='air_ticket_manage')"></div>
<!--main-container-part-->
<div id="content">
    <div class="container-fluid">
        <div th:replace="../templates/frontdesk/body/businessManagement/air-ticket-management-bar :: air-ticket-management-bar(action='cdm')"></div>
        <div class="row-fluid"></div>
        <hr/>



    </div>
</div>
<div th:replace="../templates/frontdesk/body/footer :: footer"></div>
<div th:replace="../templates/frontdesk/body/businessManagement/atm-restricted-file-maintenance-script :: atm-restricted-file-maintenance-script"></div>
</body>
</html>