<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="phme-bar(action)">


    <div class="quick-actions_homepage">
        <ul class="quick-actions">


            <li class="bg_ls">
                <a th:href="@{/photo/businessmanagement/photomanage/UploadPictureController}">
                    <i class=" icon-cloud"></i>
                    <span class="label label-success">[[${action=='upload'?'✔':''}]]</span>
                    单照片上传
                </a>
            </li>

            <li class="bg_ly">
                <a th:href="@{/photo/businessmanagement/photomanage/UploadPictureController/multiple}">
                    <i class=" icon-cloud"></i>
                    <span class="label label-success">[[${action=='multiple_upload'?'✔':''}]]</span>
                    多照片上传
                </a>
            </li>

            <li class="bg_g1">
                <a th:href="@{/photo/businessmanagement/photomanage/ImageSearchController}">
                    <i class="  icon-search"></i>
                    <span class="label label-success">[[${action=='search'?'✔':''}]]</span>
                    照片搜索
                </a>
            </li>
            <li style="background-color: #3f3936;">
                <a th:href="@{/photo/businessmanagement/photomanage/SettingController}">
                    <i class="   icon-cog"></i>
                    <span class="label label-success">[[${action=='set'?'✔':''}]]</span>
                    设置
                </a>
            </li>
        </ul>

    </div>
    <a style="display: none;"
       th:href="${#httpServletRequest.getScheme() + '://'
              + #httpServletRequest.getServerName()
              + ':'
              + #request.getServerPort()
              + #request.getContextPath()
              + '/'} "
       id="contextPath"></a>
</div>
</body>

</html>