<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>照片上传</title>
    <meta charset="UTF-8" />
    <div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-head"></div>
    <script th:src="@{/private/frontdesk/body/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
    <link rel="stylesheet" th:href="@{/private/frontdesk/body/css/uniform.css}" />
    <link rel="stylesheet" th:href="@{/private/frontdesk/body/css/select2.css}" />
    <style type="text/css">
        .camanJS-editor span:nth-child(1){font-size: 16px;font-weight: bolder;color: #1a1a1a;}
        div.uploader span.action ,div.uploader span.filename,div.uploader{display: none;}
    </style>
</head>
<body>
<div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-content(action='busi_manage',sub_action='photo_manage')"></div>
<div id="content">
    <!-- 头部  -->
    <div class="container-fluid">
        <div th:replace="../templates/frontdesk/body/businessManagement/photo-manage-bar :: phme-bar(action='multiple_upload')"></div>
        <div class="row-fluid"></div>
    </div>
    <hr/>
    <!--上传  -->
    <div class="container-fluid">
        <div class="row-fluid"  style="margin-bottom: 200px;">
            <div class="span5">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class=" icon-bell-alt"></i> </span>
                        <h5 style="color: #2595ff">提示信息</h5>
                    </div>
                    <div class="widget-content nopadding" style="color: #0fb608;">
                        <p>（1）标题：可以认为是图片的分类目录，方便图片搜索定位！<br>
                            <span style="color: red;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果你还未添加任何<<<b>标题</b>>>
                                <a style="color: #391a73" th:href="@{/photo/businessmanagement/photomanage/SettingController}">点击添加</a>
                            </span>
                        </p>
                        <p>（2）命名：可以这么说，你要给这张图片起个名字！</p>
                        <p>（3）图片预览区：可以看到图片照片，点击可看到更大的照片信息！</p>
                        <p>（5）照片信息：点击<span style="color: red;font-weight: bolder;">移除该照片</span>”,便可以将照片删除！</p>
                    </div>
                    <div class="widget-title"> <span class="icon"> <i class="  icon-barcode"></i> </span>
                        <h5 style="color: #2595ff">照片信息</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped with-check" style="border:5px groove #07bf0c;font-family:Sans-Serif, Arial, Helvetica, Tahoma, Verdana" >
                            <thead style="text-align: center;font-size: 14px;">
                            <tr >
                                <th style="text-align: center;font-size: 14px;width:30px;">序号</th>
                                <th style="text-align: center;font-size: 14px;">原照片名</th>
                                <th style="text-align: center;font-size: 14px;">标题</th>
                                <th style="text-align: center;font-size: 14px;">命名</th>
                                <th style="text-align: center;font-size: 14px;">操作</th>
                            </tr>
                            </thead>
                            <tbody id="tbodyContent">

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="span1" ></div>
            <div class="span6" style="border:10px groove #216abf;font-family:Sans-Serif, Arial, Helvetica, Tahoma, Verdana">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-tasks"></i> </span>
                        <h2 style="color: #2595ff">照片上传</h2>
                    </div>
                    <div class="widget-content nopadding">
                        <form   class="form-horizontal">

                            <div class="control-group">
                                <label class="control-label">标题 :</label>
                                <div class="controls">

                                    <select class="span11"  name="photoTitle"  id="photoTitle"    style="margin:0;padding:4px;width: 92%;height: 100%;  ">
                                    <span th:if="${titleList} ne null ">
                                        <option th:each=" tt,iterStat :${titleList}"   th:text="${tt.title}" ></option>
                                    </span>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">命名 :</label>
                                <div class="controls">
                                    <input style="width: 92%;" type="text" name="photoName" id="photoName" class="span11" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">选择照片 :</label>
                                <div class="controls">
                                    <div class="  btn btn-inverse" onclick="document.getElementById('photoObject').click()">点击查找照片</div>
                                    <input style="display: none;" type="file" multiple="multiple" name="photoObject" id="photoObject"  onchange="photoEven(this)"   accept="image/*" />
                                </div>
                            </div>
                            <div class="control-group" >
                                <label class="control-label">原照片名 :</label>
                                <div class="controls">
                                    <input id="imgPath" style="width:92%;font: bold 15px/20px arial,sans-serif;color: red;letter-spacing:1px;" value="目前为选择任何照片！" type="text" name="photoPath" readonly class="span11" />
                                </div>
                            </div>
                            <div class="form-actions">
                                <p style="text-align: center;">
                                    <button id="submitPhoto" type="button" class="btn btn-info">保存/提交</button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 解决服务系统找不到文件的方法 -->
    <div style="display: none;">
        <form   th:action="@{/photo/upload/uploadMultiplePhoto}"  method="post" id="upBox" enctype="multipart/form-data" class="form-horizontal">
        </form>
    </div>
    <!--图片展示  -->
    <div class="container-fluid" style="margin-top: -100px;">
        <hr/>
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-tasks"></i> </span>
                <h2 style="color: #2595ff">图片预览区</h2>
            </div>
        </div>
        <div  id="imgBox" class="row-fluid span12"  style="margin-top: 25px;">
        </div>

    </div>
    <div style="margin-bottom: 150px;"></div>
</div>
<div th:replace="../templates/frontdesk/body/footer :: footer"></div>
</div>
</body>
<div th:replace="../templates/frontdesk/body/businessManagement/photograph-multiple-upload-management-script :: photo-upload-script"></div>
<script th:src="@{/private/frontdesk/body/js/bootstrap.min.js}"></script>
<script th:src="@{/private/frontdesk/body/js/jquery.uniform.js}"></script>
<script th:src="@{/private/frontdesk/body/js/select2.min.js}"></script>
<script th:src="@{/private/frontdesk/body/js/matrix.form_common.js}"></script>
</html>