<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>照片管理</title>
    <meta charset="UTF-8" />
    <div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-head"></div>
    <script th:src="@{/private/frontdesk/body/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-content(action='busi_manage',sub_action='photo_manage')"></div>



<div id="content">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <hr/>
                    <div class="widget-title"> <span class="icon"> <i class="icon-picture"></i> </span>
                        <h5 style="font-size: 18px;font-weight: bolder;color: #000000">图片列表</h5>
                    </div>
                    <hr/>
                    <div class="widget-content" style="border:1px solid #a5a5a5;">
                        <ul class="thumbnails " >
                            <li class="span2">
                                <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg" alt="" > </a>
                                <div class="actions">
                                    <a title="" class="" href="#">
                                        <i class="icon-pencil"></i>
                                    </a>
                                    <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="span2" > <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox4.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox5.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox1.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg" alt="" > </a>
                                <div class="actions"> <a title="" class="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2" > <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox4.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox5.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox1.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg" alt="" > </a>
                                <div class="actions"> <a title="" class="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2" > <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox4.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox5.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox1.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg" alt="" > </a>
                                <div class="actions"> <a title="" class="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2" > <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox4.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox5.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox1.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span2"> <a > <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                        </ul>
                        <ul class="thumbnails">
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox1.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox4.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox5.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox1.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox4.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox5.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox1.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox4.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a class="thumbnail lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox5.jpg"> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox5.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox1.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox4.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox5.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox1.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox2.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>
                            <li class="span1"> <a> <img src="http://2197b82t91.iask.in:8080/images/gallery/imgbox4.jpg" alt="" > </a>
                                <div class="actions"> <a title="" href="#"><i class="icon-pencil"></i></a> <a class="lightbox_trigger" href="http://2197b82t91.iask.in:8080/images/gallery/imgbox3.jpg"><i class="icon-search"></i></a> </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div th:replace="../templates/frontdesk/body/footer :: footer"></div>
</body>
</html>