<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>照片管理</title>
    <meta charset="UTF-8" />
    <div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-head"></div>
    <script th:src="@{/private/frontdesk/body/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="../templates/frontdesk/body/navigation-bars :: navigation-bars-content(action='busi_manage',sub_action='photo_manage')"></div>
<div id="content">
    <div class="container-fluid">
        <div th:replace="../templates/frontdesk/body/businessManagement/photo-manage-bar :: phme-bar(action='rfe')"></div>
        <div class="row-fluid"></div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <hr/>
                    <div class="widget-title"> <span class="icon"> <i class="icon-picture"></i> </span>
                        <h5 style="font-size: 18px;font-weight: bolder;color: #000000">图片列表</h5>
                    </div>
                    <hr/>
                    <div class="widget-content" style="border:1px solid #a5a5a5;" id="photoDiv">





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="../templates/frontdesk/body/footer :: footer"></div>
</body>
<div th:replace="../templates/frontdesk/body/businessManagement/photograph-management-script :: photo-script"></div>
</html>